.sidebar-list {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: overlay;
  padding: 10px 7px !important;
}

.sidebar-list::-webkit-scrollbar {
  width: 7px;
}

.sidebar-list::-webkit-scrollbar-track {
  visibility: hidden;
}

.sidebar-list::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
}

.sidebar-list:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.sidebar-item {
  margin: 10px !important;
}

.sidebar-item:hover {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

.avatar {
  margin-right: 10px;
}

.item-inner {
  width: 100%;
}

.item-inner > span {
  font-size: 15px;
  color: #6a6a6a;
}

.item-title {
  display: flex;
  justify-content: space-between;
}

.item-title span {
  font-size: 12px;
}
