.sidebar-list {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: overlay;
  padding: 10px 7px !important;
}

.sidebar-list::-webkit-scrollbar {
  width: 7px;
}

.sidebar-list::-webkit-scrollbar-track {
  visibility: hidden;
}

.sidebar-list::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
}

.sidebar-list:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.sidebar-list .item-title {
  color: #333;
}
