.sidebar-search {
  position: relative;
  flex: 1;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.sidebar-input {
  width: 100%;
  border-radius: 15px;
  padding: 5px 5px 5px 40px;
  background-color: rgba(255, 255, 255, 0.35);
}
